/* General reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
    outline: none;
}

body {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    min-height: 100vh;       /* Ensure body takes up full viewport height */
    background-color: #110e0e; /* Optional: background color for body */
}

.container {
    width: 400px;
    border-radius: 12px;
    padding: 28px;
    background-color: white; /* Ensure visibility */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: box shadow for better appearance */
}
.search-box{
    width:100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #110e0e;
    background-color: rgb(190, 219, 245);
    padding: 12px 16px;
    border-radius: 14px;
    

}
.search-box input::placeholder{
    color: #000;

}
.search-box button{
    width:46px;
    height: 46px;
    background-color:  rgb(190, 219, 245);
    border-radius: 50%;

}
.search-box button:hover{
    color:#fff;
    background-color: #ababab;
}

.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.weather-body img{
    width:60%;


}

.weather-box{
    margin-block: 20px;
    text-align: center;
}
.weather-box .temperature{
    font-size: 40px;
    font-weight: 800; 
    position: relative;
}


.weather-box .temperature sup{
    position:absolute;
    font-size: 20px;
    font-weight: 600;
}
.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.humidity, .wind {
    display: flex;
    align-items: center;
}
.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found {
    margin-top: 20px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.location-not-found h1 {
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img {
    width: 80%;
}
























